body{
    background-attachment: fixed;
    background-image: url("doctor_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container{
    background: pink; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border: 1px solid black;
}

h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    color: black;
    font-size: 1.2rem;
}

select {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #d7e27e;
    transform: scale(1.05);
    color: black;
}

/* Doctor Results */
#doctors {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: none; /* Hide until results are shown */
}